body {
	padding-top: 20px;
	padding-bottom: 20px;
}
.sn-jumbotron-img {
	color: white;
	min-height: 500px;
	background-image: url("../images/s4.jpg");
	background-size: cover;
	background-position: center;
	h1 {
		margin: 60px 0;
	}
}
.sn-section {
	margin: 60px 0;
}
.sn-img-circle {
	width: 300px;
	height: 300px;
}
.sn-heart {
	padding-top: 20px;
	padding-bottom: 20px;
	h2 {
		color: #6D59B0;
	}
	h3 {
		margin-top: 40px;
		color: rgb(252, 79, 79);
	}
}
.sn-jumbotron-danger {
	background-color: rgb(252, 79, 79);
	color: white;
	h1 {
		padding: 30px 0;
	}
	span {
		color: yellow;
		font-size: 32px;
		margin-bottom: 20px;
	}
}
.sn-ad-img {
	div {
		margin: 10px 0;
	}
}
.sn-jumbotron-dark {
	color: white;
	background-color: rgb(41, 41, 41);
}
.sn-break {
	margin-bottom: 30px;
}
.sn-words {
	margin-top: 40px;
	margin-bottom: 20px;
	p {
		font-size: 18px;
	}
}
.sn-img-rect {
	width: 600px;
	height: 600px;
	overflow:hidden;
}
